/* src/pages/Dashboard.css */

main {
  padding: 2em 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: var(--border-radius);
  margin: 0 1em;
  min-height: 85.5vh;
  text-align: center;
}

main h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.dashboard-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.dashboard-action {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-action h3 {
  font-size: var(--font-size-medium);
  margin-bottom: 10px;
}

.dashboard-action .input-field {
  margin-top: 10px;
  width: 100%;
}

.dashboard-action .input-submit {
  margin-top: 10px;
  width: 100%;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1em 0;
  text-align: center;
}

footer .container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
