/* src/components/Header.css */

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1em 0;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    font-size: 24px;
  }
  
  nav ul li a:hover {
    color: var(--highlight-color);
  }
  