/* src/pages/Home.css */

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1em 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: var(--font-size-large);
}

nav a:hover {
  color: var(--highlight-color);
}

main {
  padding: 2em 0;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: var(--border-radius);
  margin: 0 1em;
  min-height: 85.5vh;
}

main h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

main p {
  font-size: var(--font-size-medium);
  margin-bottom: 10px;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1em 0;
  text-align: center;
}

footer .container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
